[phases.setup]
nixPkgs = [
  "nodejs_20",
  "chromium",
  "glib",
  "nss",
  "nspr",
  "at-spi2-atk",
  "cups",
  "dbus",
  "libdrm",
  "expat",
  "libxcb",
  "libxkbcommon",
  "pango",
  "cairo",
  "alsa-lib",
  "mesa"
]

[phases.build]
cmds = [
  "npm install",
  "npx prisma generate",
  "npx playwright install chromium"
]

[start]
cmd = "npm run worker"
